<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dating App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="loggedIn()">
          <a class="btn btn-secondary dropdown-toggle text-light">
            Welcome User
          </a>        
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i> Edit profile</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#"> <i class="fa fa-sign-out"></i> Logout</a></li>
            
          </ul>
        </div>

        <form class="d-flex" role="search" #loginForm ="ngForm" (ngSubmit)="login()" *ngIf="!loggedIn()">
          <input class="form-control me-2" type="text" required name="username" placeholder="username" aria-label="Search" [(ngModel)]="model.username" >
          <input class="form-control me-2" type="password" placeholder="password" aria-label="Search" required name="password" [(ngModel)]="model.password">
          <button class="btn btn-outline-success" [disabled]="!loginForm.valid" type="submit">login</button>
        </form>
      </div>
    </div>
  </nav>